*.dll
*.exe
*.ipch
*.sdf
*.suo
*.filters
*.tlog
*.obj
*.res
*.rc
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.opensdf
*.user.*
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
TestResult.xml
obj/
Work/
Build/Debug/
Build/Release/
