*.dll
*.exe
*.ipch
*.sdf
*.suo
*.filters
*.tlog
*.obj
*.res
*.rc
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.opensdf
*.user.*
*.DotSettings
*.DotSettings.user
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
*.mlpd
*.vspx
*.diagsession
*.nupkg
*.snupkg
TestResult.xml
launchSettings.json
*.recipe

bin/
obj/
.vscode/
.vs/
Build/Temp*
